/* ----- maincart  ----- */

.maincart {
    display: none;
}

.maincart .content {
    width: 100%;
}

.maincart img {
    display: none;
}

.maincart .close_img {
    display: initial;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 24px;
    cursor: pointer;
}

.maincart h3 {
    font-size: x-large;
}

.maincart .list {
    text-align: left;
    margin: 0.4em;
}

.maincart .list .element {
    border-bottom: solid 1px lightgray;
    display: flex;
    flex-flow: column nowrap;
}

.maincart .foodName {
    font-weight: bold;
}

.maincart .smallbuttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.maincart .smallbuttons img {
    display: initial;
    width: 16px;
    height: 16px;
    margin: 0 0.3em;
    cursor: pointer;
}
.maincart .smallbuttons p {
    margin: 0 0.3em;
    display: inline;
}

.maincart .packing,
.maincart .totalPrice {
    margin: 0.5em 0.2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.maincart .totalPrice {
    margin-bottom: 6em;
}

.maincart .extrasList {
    display: inline;
}

.maincart .extrasList:after {
    content: ", ";
}

.maincart .extrasList:last-child:after {
    content: "";
}

.maincart .orderButton {
    display: none;
}

/* ----- fullPageCart ----- */

.fullPageCart-opening {
    display: block !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--CART-Z-INDEX);
    background-color: var(--BACKGROUND);
    overflow-y: auto;
    animation: slide-up 300ms ease-in forwards;
}

@media (max-width: 768px) {
    /*  IMPORTANT!   Just close, when smaller than 768px */
    .fullPageCart-closing {
        display: block !important;
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: var(--CART-Z-INDEX);
        background-color: var(--BACKGROUND);
        overflow-y: auto;
        animation: slide-down 300ms ease-in-out forwards;
    }
}

/* ----- subCart ----- */

.subcart {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    opacity: 95%;
    text-align: center;
    align-items: stretch;
    z-index: var(--CART-Z-INDEX);
    cursor: pointer;
}

.subcart .subInner {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
}

.subcart img {
    width: 32px;
    margin-right: 0.5em;
}

.subcart .left {
    background-color: var(--FIRST-COLOR);
}

.subcart .left .left_inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.arrow {
    transition: transform 0.3s;
    width: 32px;
    height: 32px;
    margin-left: 0.5em;
}

.cart_summarize {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
}

.open {
    transform: rotate(-180deg);
}

.subcart p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcart .right {
    background-color: var(--SECOND-COLOR);
    font-size: x-large;
}

@media (min-width: 600px) {
    .subcart {
        width: calc(100% - 2em);
    }
}

@media (min-width: 769px) {
    .maincart {
        color: var(--TEXT-PRIMARY);
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-self: flex-start;
        width: var(--MAINCART-WIDTH);
        min-height: 300px;
        border: solid 2px var(--FIRST-COLOR);
        top: 0;
        position: sticky;
        background-color: var(--BACKGROUND);
    }

    .maincart h3 {
        font-size: large;
    }

    .maincart .close_img {
        display: none;
    }

    .maincart .totalPrice {
        margin-bottom: 3rem;
    }

    .maincart .orderButton {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .content {
        width: 100%;
    }

    .subcart {
        display: none;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}
