.inner {
    padding: 1em 0;
    column-count: 2;
}

.extraName {
    font-style: normal;
}

.extraPrice {
    font-weight: bold;
}

.packing {
    text-align: right;
    padding: 1em 0;
}

.subTotal {
    text-align: right;
    font-weight: bold;
    font-size: larger;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-top: 1em;
}

@media (min-width: 1024px) {
    .inner {
        column-count: 3;
    }
}
