.outer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.products {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

@media (min-width: 769px) {
    .products {
        width: calc(100% - var(--MAINCART-WIDTH) - 40px);
    }
}
