.outer {
    padding: 0.5rem 0;
    display: grid;
    grid-template-areas: "name price button";
    grid-auto-columns: auto minmax(140px, auto) 40px;
}

.name {
    grid-area: name;
    text-align: left;
}

.name h3,
p {
    margin: 0;
    margin-left: 0.2rem;
}

.price {
    grid-area: price;
    font-size: bigger;
    justify-self: end;
    align-self: center;
}

.priceinvalid {
    grid-area: price;
    font-size: bigger;
    justify-self: end;
    align-self: center;
    border: red dashed;
    animation: shake 1s;
}

.orderbutton {
    grid-area: button;
    place-self: center;
}
.orderbutton img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
