.outer {
    display: flex;
    flex-flow: row nowrap;
}

.pizza img {
    display: block;
    max-width: 50vw;
    width: auto;
    height: 80vh;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.content .title {
    padding: 3em 0;
    font-size: x-large;
}

.content .form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.content .input {
    background-color: lightblue;
    margin: 0.2rem 0;
    padding: 0 0.2rem;
    border: none;
    width: 20rem;
    line-height: 2.5;
    font-size: 1em;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #787474;
    color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tablinks {
    color: blue;
}
