.information {
    background-color: #f0be74;
    box-shadow: white 2px 2px 10px;
    animation: show 800ms ease-out, movein 1000ms linear;
    /* opacity: 0.9; */
}

.information p {
    color: var(--TEXT-PRIMARY);
    text-shadow: white 2px 2px 10px;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@keyframes movein {
    from {
        transform: translate(-30%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
