.ReactCollapse--collapse {
    transition: height 300ms;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(182, 175, 175);
    border-top: solid rgb(48, 47, 47) 1px;
    text-align: left;
    padding: 0.5rem;
    cursor: pointer;
}

.group-left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.group-image-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.group-image {
    padding-right: 10px;
    height: 32px;
}

.ReactCollapse--content {
    color: black;
    background-color: white;
}

.group-arrow {
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: 5px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #333 transparent transparent transparent;
    transition: transform 0.3s;
}

.open .arrow {
    transform: rotate(-180deg);
}
