* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root,
.light {
    /* ---COLORS--- */
    --BACKGROUND: white;
    --TEXT-PRIMARY: black;

    /* ---GENERAL--- */
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --FONT-SIZE: calc(15px + 0.390625vw);
    line-height: 24px;
    max-width: 1200px;
    margin: auto;

    /*---CART---*/
    --MAINCART-WIDTH: 200px;
}

[data-theme="dark"],
.dark {
    --BACKGROUND: #242424;
    --TEXT-PRIMARY: #ffffffde;
    /*
    ->  .dark  <-  
        && 
        useEffect(() => {
            document.body.className = theme.isDark ? "dark" : "light";
        }, [theme.isDark]);
        in App.tsx ensure not just "main" div, but all index.html will apply
        these settings
    */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    margin: 2rem auto;
    text-align: center;
}
